# Process data further to match with our expected inputs

Some example like making it matches with the total
This can be changed alot

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict

from PopSynthesis.Generator_data.generate_combine_census.utils import process_from_census_data

In [2]:
geo_lev = "POA"
data_raw = process_from_census_data(geo_lev=geo_lev)
data_raw

,Person_POA (EN),Dwelling_POA (EN),Person_AGE10P Age in Ten Year Groups__0-9 years,Person_AGE10P Age in Ten Year Groups__10-19 years,Person_AGE10P Age in Ten Year Groups__20-29 years,Person_AGE10P Age in Ten Year Groups__30-39 years,Person_AGE10P Age in Ten Year Groups__40-49 years,Person_AGE10P Age in Ten Year Groups__50-59 years,Person_AGE10P Age in Ten Year Groups__60-69 years,Person_AGE10P Age in Ten Year Groups__70-79 years,...,Person_SEXP Sex__Male,Person_SEXP Sex__Female,"Person_LFSP Labour Force Status__Employed, worked full-time","Person_LFSP Labour Force Status__Employed, worked part-time","Person_LFSP Labour Force Status__Employed, away from work","Person_LFSP Labour Force Status__Unemployed, looking for full-time work","Person_LFSP Labour Force Status__Unemployed, looking for part-time work",Person_LFSP Labour Force Status__Not in the labour force,Person_LFSP Labour Force Status__Not stated,Person_LFSP Labour Force Status__Not applicable
3000,45652.0,34456.0,1131.0,2057.0,21588.0,10739.0,3433.0,2059.0,1275.0,619.0,...,21548.0,21539.0,13208.0,10699.0,1998.0,1267.0,1483.0,9041.0,3936.0,1457.0
3002,5382.0,3477.0,210.0,179.0,840.0,1032.0,571.0,614.0,683.0,537.0,...,2353.0,2545.0,2095.0,833.0,153.0,67.0,34.0,1162.0,270.0,289.0
3003,7976.0,5203.0,430.0,383.0,2847.0,2346.0,923.0,566.0,308.0,163.0,...,4093.0,3926.0,3269.0,1673.0,319.0,194.0,163.0,1427.0,396.0,589.0
3004,12305.0,8171.0,604.0,407.0,2432.0,2928.0,1530.0,1111.0,1048.0,953.0,...,5655.0,5827.0,4759.0,1825.0,348.0,231.0,116.0,2359.0,1023.0,809.0
3006,23138.0,17514.0,1107.0,709.0,7932.0,7118.0,2452.0,1454.0,1108.0,612.0,...,11499.0,11197.0,10029.0,4626.0,955.0,553.0,406.0,3553.0,1218.0,1360.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3990,116.0,56.0,3.0,7.0,7.0,13.0,14.0,26.0,27.0,26.0,...,55.0,62.0,39.0,24.0,5.0,0.0,0.0,27.0,12.0,12.0
3991,388.0,211.0,31.0,49.0,43.0,45.0,42.0,71.0,65.0,52.0,...,204.0,205.0,81.0,77.0,23.0,4.0,4.0,126.0,35.0,62.0
3992,1271.0,608.0,146.0,144.0,130.0,156.0,164.0,164.0,232.0,106.0,...,650.0,631.0,312.0,269.0,60.0,9.0,10.0,312.0,79.0,228.0
3995,11493.0,6525.0,1059.0,1214.0,1058.0,1171.0,1189.0,1510.0,1950.0,1582.0,...,5588.0,6009.0,2186.0,1982.0,383.0,132.0,93.0,4463.0,671.0,1686.0
3996,6561.0,4754.0,663.0,667.0,372.0,611.0,662.0,788.0,1285.0,1081.0,...,3194.0,3453.0,1277.0,1120.0,256.0,35.0,37.0,2627.0,260.0,1037.0

In [6]:
# Vehicle

In [7]:
persons_cols = [x for x in data_raw.columns if "Person_" in x]
hh_cols = [x for x in data_raw.columns if "Dwelling_" in x]

pp_marg_raw = data_raw[persons_cols]
hh_marg_raw = data_raw[hh_cols]

In [8]:
dict_check_hh = defaultdict(list)
for hcol in hh_marg_raw.columns:
    if geo_lev not in hcol:
        ori_att, state = hcol.split("__")
        type_df, att = ori_att.split("_")
        dict_check_hh[att].append(state)

data_hh_to_df = {
    "att_code_census": [],
    "att_description": [],
    "state_census": [],
    "att_sample": [],
    "state_sample": []
}
for att, states in dict_check_hh.items():
    att_code, *other = att.split(" ")
    att_des = ' '.join(other)
    for state in states:
        data_hh_to_df["att_code_census"].append(att_code)
        data_hh_to_df["att_description"].append(att_des)
        data_hh_to_df["state_census"].append(state)
        data_hh_to_df["att_sample"].append("")
        data_hh_to_df["state_sample"].append("")

df_meta_hh = pd.DataFrame(data_hh_to_df)
# df_meta_hh.to_csv("meta_data_hh_1.csv", index=False)

In [9]:
dict_check_pp = defaultdict(list)
for pcol in pp_marg_raw.columns:
    if geo_lev not in pcol:
        ori_att, state = pcol.split("__")
        type_df, att = ori_att.split("_")
        dict_check_pp[att].append(state)

data_pp_to_df = {
    "att_code_census": [],
    "att_description": [],
    "state_census": [],
    "att_sample": [],
    "state_sample": []
}
for att, states in dict_check_pp.items():
    att_code, *other = att.split(" ")
    att_des = ' '.join(other)
    for state in states:
        data_pp_to_df["att_code_census"].append(att_code)
        data_pp_to_df["att_description"].append(att_des)
        data_pp_to_df["state_census"].append(state)
        data_pp_to_df["att_sample"].append("")
        data_pp_to_df["state_sample"].append("")

df_meta_pp = pd.DataFrame(data_pp_to_df)
# df_meta_pp.to_csv("meta_data_pp_1.csv", index=False)

In [12]:
ori_sample_hh = pd.read_csv("./ori_sample_hh.csv")
ori_sample_pp = pd.read_csv("./ori_sample_pp.csv")

*SPECIAL CASE: Occupied Rent-Free and hhsize 8+*

In [13]:
ori_sample_hh["hhinc"].unique()

array(['1000-1249', '1500-1749', '1750-1999', '2500-2999', '2000-2499',
       '3500-3999', '150-299', '1250-1499', '650-799', 'Nil income',
       '300-399', '1-149', '3000-3499', '500-649', '4500-4999', '800-999',
       '5000-5999', '4000-4499', '400-499', '6000-7999', '8000+'],
      dtype=object)

In [18]:
ori_sample_pp["anywork"].unique()

array(['Y', 'N'], dtype=object)

In [7]:
hh_marg_raw["Dwelling_HIND Total Household Income (weekly)__Negative income"].value_counts()

Dwelling_HIND Total Household Income (weekly)__Negative income
0.0      230
3.0       54
4.0       41
5.0       32
6.0       20
        ...
120.0      1
77.0       1
126.0      1
87.0       1
121.0      1
Name: count, Length: 75, dtype: int64