In [1]:
from ipfn import ipfn
import pandas as pd
from PopSynthesis.Generator_data.generate_combine_census.utils import TRS

In [ ]:
# decisions
using_BN = False
add_zero_cell = False

In [3]:
hh_marg = pd.read_csv("data/hh_marginals_ipu.csv", header=[0,1])
get_cols_by_first_level = lambda name_col: hh_marg.columns[hh_marg.columns.get_level_values(0) == name_col].to_list()
hh_marg = hh_marg.drop(columns=get_cols_by_first_level("sample_geog")).set_index(get_cols_by_first_level("zone_id")[0])
# remove the zero cell case
if not add_zero_cell:
    hh_marg[("hhinc", "Nil income")] = hh_marg[("hhinc", "Nil income")] +  hh_marg[("hhinc", "Negative income")]
    hh_marg = hh_marg.drop(columns=[("hhinc", "Negative income")])
hh_marg

                              hhsize                                   \
                                   1     2     3    4    5   6  7  8+
(zone_id, Unnamed: 0_level_1)
3000                           10393  8524  2026  656  118  27  4  58
3002                            1035  1019   190  101   38   9  0  55
3003                            1504  1591   476  223   40  11  7  55
3004                            2566  2382   511  227   33   6  5  55
3006                            5113  5033  1280  414   59  13  8  58
...                              ...   ...   ...  ...  ...  .. ..  ..
3990                               6    20     8    4    3   0  0  55
3991                              37    65    16   19   10   9  0  55
3992                             134   201    72   60   24   9  0  55
3995                            1663  1834   629  451  228  73  8  58
3996                             806  1176   251  299  137  31  6  59

                                      dwelltype          ...      hhinc  \
                              Flat or Apartment Missing  ... Nil income
(zone_id, Unnamed: 0_level_1)                            ...
3000                                      21546     128  ...       2063
3002                                       1877       9  ...         55
3003                                       3187       6  ...        179
3004                                       5741      27  ...        203
3006                                      11783      40  ...        491
...                                         ...     ...  ...        ...
3990                                          0       0  ...          5
3991                                          0       0  ...          9
3992                                          0       0  ...         12
3995                                         25       8  ...        130
3996                                         12       4  ...         75

                              totalvehs                              owndwell  \
                                      0     1     2    3   4+ Being Purchased
(zone_id, Unnamed: 0_level_1)
3000                              14688  5445   861  397  415            2453
3002                                478  1268   545   89   67             434
3003                               1401  1937   420   93   56             797
3004                               1198  3442   882  168   95            1207
3006                               4725  5884  1026  193  150            2136
...                                 ...   ...   ...  ...  ...             ...
3990                                 13    12    30   25   16              16
3991                                 20    46    66   42   37              51
3992                                 12   153   218   93   79             229
3995                                380  1949  1692  585  338            1326
3996                                 88  1040  1207  298  132             690


                              Being Rented Fully Owned Something Else
(zone_id, Unnamed: 0_level_1)
3000                                 16601        2284            468
3002                                  1298         673             42
3003                                  2548         463             99
3004                                  3212        1268             98
3006                                  8092        1537            213
...                                    ...         ...            ...
3990                                     0          22             58
3991                                    17          67             76
3992                                    55         192             79
3995                                  1150        2316            152
3996                                   494        1525             56

[691 rows x 43 columns]

In [4]:
hh_seed = pd.read_csv("data/hh_sample_ipu.csv")
# hh_seed = pd.read_csv("data/HH_pool.csv")
hh_seed = hh_seed.drop(columns=["sample_geog", "serialno"], errors="ignore")
hh_seed = hh_seed.value_counts().reset_index(name="total")
hh_seed["total"] = hh_seed["total"].astype(float)
hh_seed

              dwelltype         owndwell      hhinc totalvehs hhsize  total
0        Separate House      Fully Owned    500-649         1      1  370.0
1        Separate House      Fully Owned  1000-1249         2      2  366.0
2        Separate House  Being Purchased  2500-2999         2      4  272.0
3        Separate House      Fully Owned  1250-1499         2      2  236.0
4        Separate House      Fully Owned    650-799         1      2  234.0
...                 ...              ...        ...       ...    ...    ...
3213     Separate House  Being Purchased    650-799         1      6    1.0
3214     Separate House  Being Purchased    650-799         0      6    1.0
3215     Separate House  Being Purchased  6000-7999        4+      7    1.0
3216     Separate House  Being Purchased  6000-7999         3      2    1.0
3217  Terrace/Townhouse   Something Else    800-999         1      3    1.0

[3218 rows x 6 columns]

In [5]:
# this set the base
attrs = hh_seed.columns.to_list()
attrs.remove("total")
store_aggs = {}
for att in attrs:
    store_aggs[att] = hh_seed.groupby(att)["total"].sum()

# special case to handle zero-cell
if add_zero_cell:
    store_aggs["hhinc"].loc["Negative income"] = None # Place holder to handle later

In [6]:
resulted_syn = []
for zone_id in hh_marg.index:
    print(zone_id)
    marginals = hh_marg.loc[zone_id].to_dict()
    for att in attrs:
        for state in store_aggs[att].index:
            store_aggs[att].loc[state] = marginals[(att, state)]
    
    aggregates = [store_aggs[att] for att in attrs]
    dimensions = [[att] for att in attrs] 

    IPF = ipfn.ipfn(hh_seed.copy(), aggregates, dimensions)
    df = IPF.iteration()

    df["zone_id"] = zone_id

    # rounding using TRS
    known_tot = sum(marginals.values()) / len(attrs)
    # assert int(known_tot) == int(df["total"].sum()), f"known_tot: {known_tot}, df_total: {int(df['total'].sum())}"
    df["total"] = TRS(df["total"], known_tot)
    df = df[df["total"] > 0]

    resulted_syn.append(df)

3000
ipfn converged: convergence_rate not updating or below rate_tolerance
3002
3003
3004
ipfn converged: convergence_rate not updating or below rate_tolerance
3006
ipfn converged: convergence_rate not updating or below rate_tolerance
3008
3011
3012
3013
3015
3016
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
ipfn converged: convergence_rate not updating or below rate_tolerance
3046
3047
3048
3049
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3070
3071
3072
3073
3074
3075
3076
3078
3079
3081
3082
3083
3084
3085
3087
3088
3089
3090
3091
3093
3094
3095
3096
3097
3099
3101
3102
3103
3104
3105
3106
3107
3108
3109
3111
3113
3114
3115
3116
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3156
3158
3159
3160
3161
3162
3163
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3204
3205
3206
3207
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3249
3250
3251
3254
3260
3264
3265
3266
3267
3268
3269
3270
3271
3272
3273
ipfn converged: convergence_rate not updating or below rate_tolerance
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3289
3292
3293
3294
3300
3301
3302
3303
3304
3305
3309
ipfn converged: convergence_rate not updating or below rate_tolerance
3310
3311
3312
3314
3315
3317
3318
3319
3321
3322
Maximum iterations reached
3323
ipfn converged: convergence_rate not updating or below rate_tolerance
3324
3325
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3340
3341
3342
3345
3350
3351
3352
3355
3356
3357
3358
3360
3361
3363
3364
3370
3371
3373
3374
3375
3377
3378
ipfn converged: convergence_rate not updating or below rate_tolerance
3379
3380
3381
3384
3385
3387
3388
3390
3391
ipfn converged: convergence_rate not updating or below rate_tolerance
3392
3393
3395
3396
3400
3401
3407
3409
3412
3413
3414
3415
3418
3419
3420
3423
3424
3427
3428
3429
3430
3431
3432
3433
Maximum iterations reached
3434
3435
3437
3438
3440
3441
3442
3444
3446
3447
3448
3450
3451
3453
3458
3460
3461
3462
3463
3464
3465
3467
3468
3469
3472
3475
3477
3478
3480
3482
Maximum iterations reached
3483
3485
3487
ipfn converged: convergence_rate not updating or below rate_tolerance
3488
ipfn converged: convergence_rate not updating or below rate_tolerance
3489
ipfn converged: convergence_rate not updating or below rate_tolerance
3490
3491
ipfn converged: convergence_rate not updating or below rate_tolerance
3494
3496
3498
3500
3501
3505
3506
3507
3509
3512
3515
3516
3517
3518
3520
3521
3522
3523
3525
3527
3529
ipfn converged: convergence_rate not updating or below rate_tolerance
3530
ipfn converged: convergence_rate not updating or below rate_tolerance
3531
3533
3537
3540
3542
ipfn converged: convergence_rate not updating or below rate_tolerance
3544
3546
3549
3550
3551
3555
3556
3557
3558
3559
3561
3562
3563
3564
3565
ipfn converged: convergence_rate not updating or below rate_tolerance
3566
3567
3568
3570
3571
3572
ipfn converged: convergence_rate not updating or below rate_tolerance
3573
3575
3576
ipfn converged: convergence_rate not updating or below rate_tolerance
3579
3580
3581
ipfn converged: convergence_rate not updating or below rate_tolerance
3583
ipfn converged: convergence_rate not updating or below rate_tolerance
3584
3585
3586
3588
3589
3590
3591
ipfn converged: convergence_rate not updating or below rate_tolerance
3594
3595
3596
ipfn converged: convergence_rate not updating or below rate_tolerance
3597
3599
ipfn converged: convergence_rate not updating or below rate_tolerance
3607
ipfn converged: convergence_rate not updating or below rate_tolerance
3608
3610
3612
3614
3616
3617
ipfn converged: convergence_rate not updating or below rate_tolerance
3618
3620
3621
3622
3623
3624
3629
3630
3631
3633
3634
3635
3636
3637
3638
3639
3640
3641
3646
3647
3649
3658
3659
3660
3662
3663
ipfn converged: convergence_rate not updating or below rate_tolerance
3664
3665
3666
3669
3670
3672
3673
3675
3677
3678
3682
3683
3685
3687
3688
3690
3695
3697
3698
3699
3700
3701
3704
ipfn converged: convergence_rate not updating or below rate_tolerance
3705
3708
ipfn converged: convergence_rate not updating or below rate_tolerance
3709
3711
3712
3713
3714
3715
3717
3718
ipfn converged: convergence_rate not updating or below rate_tolerance
3719
3720
3722
3723
3725
3726
3727
3728
3730
3732
3733
3735
3737
3738
3739
Maximum iterations reached
3740
3741
3744
3746
3747
3749
3750
3751
ipfn converged: convergence_rate not updating or below rate_tolerance
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
ipfn converged: convergence_rate not updating or below rate_tolerance
3763
3764
3765
3766
3767
3770
3775
3777
3778
3779
3781
3782
3783
3785
Maximum iterations reached
3786
3787
3788
3789
3791
3792
3793
3795
3796
3797
3799
3802
3803
3804
3805
3806
3807
3808
3809
3810
3812
3813
3814
3815
3816
3818
3820
3821
3822
3823
3824
3825
3831
3832
3833
3835
3840
3842
3844
3847
3850
3851
3852
ipfn converged: convergence_rate not updating or below rate_tolerance
3854
3856
3857
3858
3859
3860
3862
3864
3865
3869
3870
3871
3873
3874
3875
3878
3880
3882
3885
3886
3887
3888
3889
3890
3891
ipfn converged: convergence_rate not updating or below rate_tolerance
3892
3893
3895
3896
3898
3900
3902
3903
3904
3909
3910
3911
3912
3913
3915
3916
3918
3919
3920
3921
ipfn converged: convergence_rate not updating or below rate_tolerance
3922
3923
3925
3926
3927
3928
3929
3930
3931
3933
3934
3936
3937
3938
3939
3940
3941
3942
3943
3944
ipfn converged: convergence_rate not updating or below rate_tolerance
3945
3946
3950
3951
3953
3954
3956
3957
3958
3959
3960
3962
3964
3965
3966
3967
ipfn converged: convergence_rate not updating or below rate_tolerance
3971
3975
3976
3977
3978
3979
3980
3981
3984
3987
3988
3990
ipfn converged: convergence_rate not updating or below rate_tolerance
3991
3992
3995
3996

In [7]:
final_result = pd.concat(resulted_syn)

In [ ]:
assert set(final_result.set_index(attrs).index) <= set(hh_seed.set_index(attrs).index), f"synthesized comb must be subset of hh_seed"

In [8]:
if using_BN:
    final_result.to_csv("output/new_IPF_BN_pool.csv", index=False)
elif add_zero_cell:
    final_result.to_csv("output/new_IPF_wzero.csv", index=False)
else:
    final_result.to_csv("output/new_IPF_results_wo_zerocell.csv", index=False)

In [ ]:
# wo zerocell is 14m-37.7s
# with BN pool is 20m
# with zerocell is 18m